/* I used this: https://www.w3schools.com/css/default.asp */
/* I used the CSS validator https://jigsaw.w3.org/css-validator/ */

div.product_class{
    text-align: center;
    align-content: center;
    width: 400px;
    margin: 0 auto
}

div.top_list{
    text-align: center;
}

div.product_class:hover{
    background-color: yellow;
    width: 405px;
    margin: 0 auto;
}

div.prod_detail_form{
    width: 180px;
    margin: 0 auto;
    text-align: left;
}

select.dropdown{
    width: 180px;
    margin: 0 auto;
    text-align: left;
}

p.products_heading:hover{
    background-color: yellow;
    font-weight: bold;
    margin:0 auto;
    width: 100px;
}

p.cart:hover{
    background-color: yellow;
    font-weight: bold;
    margin: 0 auto;
    width: 100px;
}

p.label{
    text-decoration: none;
    text-align: left;
}

p.remove{
    text-decoration: underline;
    font-size: small;
    font-weight: bold;
}

#price{
    font-weight: bold;
}

a.linked:hover{
    background-color: yellow;
    font-weight: bold;
    margin: 0 auto;
    text-decoration: none;
    width: 405px;
    margin: 0 auto;
}

a.linked{
    text-decoration: none;
    color: black;
}

section.master_div{
    text-align: center;
    margin: 0 auto;
}

div.logo_line{
    border-bottom: solid;
    border-color: black;
}

button.button{
    color:black;
    background-color: yellow;
}

img.logo{
    width: 400px;
}

img.image{
    border-style: solid;
    border-width: 2px;
    width: 400px;
    height: 400px;
}

img.cart_image{
    width: 200px;
    height: 200px;
    border-style:solid;
    border-width: 2px;
}

img.image_detail{
    width: 600px;
    height: 600px;
    border-style:solid;
    border-width: 2px;
}
