body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh; /* Adjust the height as needed */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

h1, p {
    color:white;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Your existing CSS styles */

/* Dropdown styles */
.dropdown {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background-color:#333;
    padding: 10px;
    list-style: none;
    margin: 0;
}

.dropdown:hover .submenu {
    display: block;
    color:#333;
    width:max-content;
    animation: forwards;
}

.submenu li {
    margin-right: 0;
}

.submenu a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 5px 0;
}

/* Adjust the styles for FX, Crypto, and ETFs as needed */
.main_flexbox {
    display: flex;
    flex-direction: column;
    height: 65vh; /* 65% of the viewport height */
    width: 100%;
    padding: 20px;
    border:black;
    box-sizing: border-box;
}

.sub_flexbox {
    display: flex;
    border:white;
    flex-direction: row;
    justify-content: space-between;
    height: 50%; /* Adjust the height as needed */
    width: 100%;
}

.main_views {
    flex: 1;
    padding: 10px;
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    border: 10px solid blue;
    background-color: #333;
}

#portfolio_flexbox{
    background-color:#333;
    height: 800px;
    width: width("sub_flexbox");
    border: 10px solid red;
    padding: 20px;
}